{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DIY Site</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Fonts and icons -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- local CSS and favicon-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    {{ form.media }}
</head>

<body class="d-flex flex-column h-100 main-bg">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid ">
            <!--Logo & Brand -->
            <a href="{% url 'home' %}">
                {% load static %}                  
                <img class="navbar-logo"
                    src="{% static 'diy-logo.png' %}" alt="DIY Logo">
                <span class="navbar-brand">DIY Site</span>
            </a>
            <div >
                <!--User Menu -->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" 
                            id="user-options" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            {% if request.user.is_authenticated %}
                            <p class="my-0">{{user}}</p>
                            {% else %}
                                <p class="my-0">Anonymous</p>
                            {% endif %}
                        </div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li><a href="/admin" class="dropdown-item">Admin</a></li>
                            {% endif %}
                            <!--<li><a href="{% url 'user' 'profile' %}" class="dropdown-item">My Profile</a></li> -->
                            <li><a href="{% url 'account_email' %}" class="dropdown-item">E-mail </a></li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a></li>
                        {% else %}
                            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a></li>
                            <li><a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- Messages -->
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Main content (index, details, login,  etc...)-->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Made for Code Institute</p>
        <p class="m-0 text-center text-white">Follow us: 
            <a href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                <i class="fab fa-facebook-square ms-3 social-networks"></i>
            </a>
            <a href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in a new tab)">
                <i class="fab fa-twitter-square ms-3 social-networks"></i>
            </a>
            <a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                <i class="fab fa-instagram-square ms-3 social-networks"></i>
            </a>
            <a href="https://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube page (opens in a new tab)">
                <i class="fab fa-youtube-square ms-3 social-networks"></i>
            </a>
        </p>
    </footer>

    <!-- Java Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!--Script to automatically hide messages -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2000);
    </script>    
</body>

</html>