{% extends 'base.html' %} 
{% block content %}
<div class="masthead">
    <div class="container">
        <!-- THING HEADER (Title, image, author, date, etc)-->
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="thing-title">{{ thing.title }} </h1>
                <!-- Thing author goes before the | the thing's created date goes after -->
                <p class="thing-subtitle">{{ thing.author }} | {{ thing.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- Featured image  -->
                {% if "placeholder" in thing.featured_image.url %}
                {% load static %}
                <img src="{% static 'image-not-available.png' %}" alt="No image available" class ="thing-image">
                {% else %}
                <img src=" {{ thing.featured_image.url }}" alt="Featured image" class="thing-image">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- VIEW THING PRESENTATION -->    
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ thing.description | safe }}
                </p>
                <div class="row">
                    <!--Thing Likes-->
                    <div class="col-3">
                        <strong class="text-secondary">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'thing_like' thing.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="thing_id" value="{{thing.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="thing_id" value="{{thing.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span>{{ thing.number_of_likes }}</span>
                        </strong>
                    </div>
                    <!--Thing Components count-->
                    <div class="col-4">
                        {% with components.count as total_components %}
                        <strong class="text-secondary">Comp.
                        {{ total_components }}</strong>
                        {% endwith %}
                    </div>
                    <!--Thing instructions count-->
                    <div class="col-4">
                        {% with instructions.count as total_instructions %}
                        <strong class="text-secondary">Instr.
                        {{ total_instructions }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Separator for thing content-->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- VIEW COMPONENTS -->    
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Components:</h3>
            <div class="card-body">
                <!-- Loop inside the tags to iterate through all instructions -->
                {% for component in components %}
                <div class="components" style="padding: 10px;">
                    <!-- The image and the title for the component -->
                    {% load custom_tags %}
                    {% is_thing is_component_thing component.id as is_a_thing %}
                    {% if is_a_thing %}
                    <a href="{% url 'thing_detail' component.slug %}" class="post-link">
                    {% endif %}
                    <h4 class="font-weight-bold">
                        {% if "placeholder" in component.featured_image.url %}
                        {% load static %}
                        <img src="{% static 'image-not-available.png' %}" alt="No Component image available" class="component-image">
                        {% else %}
                        <img src=" {{ component.featured_image.url }}" alt="Component Image" class="component-image">
                        {% endif %}
                        {{ component.title }}
                    </h4>
                    {% if is_a_thing %}
                    </a>
                    {% endif %}
                    <!-- The text for the instructions -->
                    <p class="card-text ">
                        {{ component.description | safe }}
                    </p>
                </div>
                <!-- Instructions loop ends here -->
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- VIEW INSTRUCTIONS -->    
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Instructions:</h3>
            <div class="card-body">
                <!-- Loop inside the tags to iterate through all instructions -->
                {% for step in instructions %}
                <div class="instructions" style="padding: 10px;">
                    <!-- The title for the instructions -->
                    <h4 class="font-weight-bold">
                        {{ step.title }}
                    </p>
                    <!-- The text for the instructions -->
                    <p class="card-text ">
                        {{ step.instructions | safe }}
                    </p>
                </div>
                <!-- Instructions loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}